// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@font-face
{
    font-family: "Material Icons";
    src: url("/fonts/mdi/materialdesignicons-webfont.eot?v=5.7.55");
    src: url("/fonts/mdi/materialdesignicons-webfont.eot?#iefix&v=5.7.55") format("embedded-opentype"), url("/fonts/mdi/materialdesignicons-webfont.woff2?v=5.7.55") format("woff2"), url("/fonts/mdi/materialdesignicons-webfont.woff?v=5.7.55") format("woff"), url("/fonts/mdi/materialdesignicons-webfont.ttf?v=5.7.55") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import 'static.layout.sass';

@import './onedark.css';



// Boilerplate
:root
{
    --border-color: #ccc;
    --border: 1px solid var(--border-color);
    --input-border: 1px solid #ccc;
    --focused-input-border: 1px solid #666;

    --elevation-1: drop-shadow(0 1px 1px #00000037);
    --elevation-2: drop-shadow(0 2px 1.5px #00000030);
    --elevation-3: drop-shadow(0 3px 2.5px #00000030);
    --elevation-4: drop-shadow(0 4px 6px #00000020);

    --text-font: 'Roboto', sans-serif;
    --heading-font: 'Poppins', sans-serif;
    --text-size: 15px;
    --button-size: 14px;
    --bg: #ffffff;
    --bg-dark: #f5f8f8;
    --heading-gray: #2F3542;
    --text-gray: #666F79;
    --text-gray-shade: #666F7910;
    --text-gray-shine: #666F7930;

    --primary: #4834D4;
    --primary-focused: #644cff;
    --primary-shade: #4834D418;
    --primary-shine: #4b36d633;

    --secondary: #29abab;
    --secondary-shade: #36e8e819;
    --secondary-shine: #36e8e833;
    
    --gray: #2F3542;
    --gray-shine: #2F354233;
    
    --disabled-bg: #eaecec;
    --disabled-color: #878f97;
    --disabled-border-color: #a9afb6;
    
    --mild-success: #29abab;
    --success: #2ecc71;
    --success-shade: #2ecc7115;
    --success-shine: #2ecc7140;
    --warning: #ffc400;
    --warning-shade: #ffc40020;
    --warning-shine: #ffc40040;
    --error: #ff4757;
    --error-shade: #ff475710;
    --error-shine: #ff475740;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: '';
    clear: both;
    display: table;
}

*
{
    box-sizing: border-box;
    display: inline-block;
    outline: none;
}

*:focus
{
    outline: none;
}

i, b
{
    display: inline;
}

form
{
    display: contents;
}

p,
.block
{
    display: block;
}

p
{
    margin: 15px 0;
}

ol, ul
{
    margin: 0;
}

h1, h2, h3, h4, h5, h6
{
    display: block;
    line-height: 150%;
    color: var(--heading-gray);
    font-family: var(--heading-font);
}

blockquote, ul, ol, li, header, main
{
    display: block;
}

h1
{
    font-size: 45px;
}

h2
{
    font-weight: 600;
    font-size: 35px;
}

h3
{
    font-weight: 600;
    font-size: 30px;
}

h4
{
    font-size: 25px;
}

h5
{
    font-size: 20px;
}

h6
{
    font-size: var(--text-size);
}

a
{
    color: var(--primary);
    text-decoration: none;
}

a:hover
{
    color: var(--primary);
    text-decoration: var(--primary) underline 1.8px;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
}

fieldset
{
    font-size: var(--text-size);
    color: var(--text-gray);
    border: var(--border);
    border-radius: 5px;
    display: block;
    margin: 0;
}

title, head, script, style
{
    display: none;
}

html, body
{
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    background: var(--bg);
    color: var(--text-gray);
    line-height: 150%;
    text-align: center;
    scroll-behavior: smooth;
}

body
{
    overflow-y: scroll;
}

#app
{
    width: 100%;
    height: 100%;
    // display: block;
}

#app .limiter
{
    width: 100%;
    margin: 0 auto;
    max-width: 1300px;
    text-align: left;
    display: block;
    padding: 0 25px;
}

.sheet
{
    display: block;
    background: var(--bg);
    filter: var(--elevation-4);
    width: 100%;
    border-radius: 7px;
}

.sheet.padding
{
    padding: 15px;
}

.grid-centered
{
    display: grid;
    place-content: center;
}

.ProseMirror
{
    display: block !important
}

.tooltip {
    display: block !important;
    z-index: 10000;
    filter: var(--elevation-1);
    
    .tooltip-inner {
        background: var(--heading-gray);
        color: var(--bg);
        font-family: var(--text-font);
        border-radius: 5px;
        padding: 5px 10px 4px;
        text-align: left;
        text-shadow: none;
        font-size: var(--text-size) !important;
    }
  
    .tooltip-arrow {
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        margin: 5px;
        border-color: var(--heading-gray);
        z-index: 1;
    }
  
    &[x-placement^="top"] {
        margin-bottom: 5px;
    
        .tooltip-arrow {
            border-width: 5px 5px 1px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            bottom: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
  
    &[x-placement^="bottom"] {
        margin-top: 5px;
    
        .tooltip-arrow {
            border-width: 1px 5px 5px 5px;
            border-left-color: transparent !important;
            border-right-color: transparent !important;
            border-top-color: transparent !important;
            top: -5px;
            left: calc(50% - 5px);
            margin-top: 0;
            margin-bottom: 0;
        }
    }
  
    &[x-placement^="right"] {
        margin-left: 5px;
    
        .tooltip-arrow {
            border-width: 5px 5px 5px 1px;
            border-left-color: transparent !important;
            border-top-color: transparent !important;
            border-bottom-color: transparent !important;
            left: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
  
    &[x-placement^="left"] {
        margin-right: 5px;
    
        .tooltip-arrow {
            border-width: 5px 1px 5px 5px;
            border-top-color: transparent !important;
            border-right-color: transparent !important;
            border-bottom-color: transparent !important;
            right: -5px;
            top: calc(50% - 5px);
            margin-left: 0;
            margin-right: 0;
        }
    }
  
    &.popover {
        .popover-inner {
            background: #1e272e;
            padding: 15px;
            border-radius: 5px;
            line-height: 140%;
            box-shadow: 0 5px 30px rgba(black, .1);
        }

        .popover-inner *
        {
            font-size: var(--text-size) !important;
        }
    
        .popover-arrow {
            border-color: #1e272e;
        }

        &.text-tooltip
        {
            max-width: 300px;
        }
    }
  
    &[aria-hidden='true'] {
        visibility: hidden;
        opacity: 0;
        transition: opacity .15s, visibility .15s;
    }
  
    &[aria-hidden='false'] {
        visibility: visible;
        opacity: 1;
        transition: opacity .15s;
    }
}





@media (max-width: 900px)
{
    h1
    {
        font-size: 35px;
    }

    h2
    {
        font-size: 30px;
    }

    h3
    {
        font-size: 25px;
    }

    h4
    {
        font-size: 20px;
    }

    h5
    {
        font-size: 17px;
    }

    h6
    {
        font-size: var(--text-size);
    }
}