@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap);
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: #ABB2BF;
   background: none;
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
 code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: #383e49;
 }
 
 pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
   text-shadow: none;
   background: #9aa2b1;
 }
 
 pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
 code[class*="language-"]::selection, code[class*="language-"] ::selection {
   text-shadow: none;
   background: #9aa2b1;
 }
 
 @media print {
   code[class*="language-"],
   pre[class*="language-"] {
     text-shadow: none;
   }
 }
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #282c34;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #5C6370;
 }
 
 .token.punctuation {
   color: #abb2bf;
 }
 
 .token.selector,
 .token.tag {
   color: #e06c75;
 }
 
 .token.property,
 .token.boolean,
 .token.number,
 .token.constant,
 .token.symbol,
 .token.attr-name,
 .token.deleted {
   color: #d19a66;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.builtin,
 .token.inserted {
   color: #98c379;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string {
   color: #56b6c2;
 }
 
 .token.atrule,
 .token.keyword {
   color: #c678dd;
 }
 
 .token.function {
   color: #61afef;
 }
 
 .token.regex,
 .token.important,
 .token.variable {
   color: #c678dd;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }
 
 pre.line-numbers {
     position: relative;
     padding-left: 3.8em;
     counter-reset: linenumber;
 }
 
 pre.line-numbers > code {
     position: relative;
 }
 
 .line-numbers .line-numbers-rows {
     position: absolute;
     pointer-events: none;
     top: 0;
     font-size: 100%;
     left: -3.8em;
     width: 3em; /* works for line-numbers below 1000 lines */
     letter-spacing: -1px;
     border-right: 0;
 
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 
 }
 
 .line-numbers-rows > span {
     pointer-events: none;
     display: block;
     counter-increment: linenumber;
 }
 
 .line-numbers-rows > span:before {
     content: counter(linenumber);
     color: #5C6370;
     display: block;
     padding-right: 0.8em;
     text-align: right;
 }
@font-face {
  font-family: "Material Icons";
  src: url("/fonts/mdi/materialdesignicons-webfont.eot?v=5.7.55");
  src: url("/fonts/mdi/materialdesignicons-webfont.eot?#iefix&v=5.7.55") format("embedded-opentype"), url("/fonts/mdi/materialdesignicons-webfont.woff2?v=5.7.55") format("woff2"), url("/fonts/mdi/materialdesignicons-webfont.woff?v=5.7.55") format("woff"), url("/fonts/mdi/materialdesignicons-webfont.ttf?v=5.7.55") format("truetype");
  font-weight: normal;
  font-style: normal;
}
#app.static {
  padding-top: 70px;
}
#app.static > main {
  min-height: 70vh;
}
#app.static.fullscreen-layout main {
  height: calc(100% - 70px);
}
#app.static #desktop-navbar,
#app.static #mobile-navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  color: var(--text-gray);
  background: #ffffffc2;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  font-size: var(--text-size);
  width: 100%;
  z-index: 1000;
  transition: box-shadow 800ms;
}
#app.static #desktop-navbar.scrolled,
#app.static #mobile-navbar.scrolled {
  box-shadow: 0 5px 20px #00000010;
}
#app.static #desktop-navbar .limiter,
#app.static #mobile-navbar .limiter {
  display: flex;
  height: 100%;
  align-items: center;
}
#app.static #desktop-navbar .limiter .navbar-wrapper,
#app.static #mobile-navbar .limiter .navbar-wrapper {
  padding: 0;
  align-items: center;
  display: flex;
  flex: 1;
  text-transform: uppercase;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.left,
#app.static #mobile-navbar .limiter .navbar-wrapper.left {
  justify-content: flex-start;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.center,
#app.static #mobile-navbar .limiter .navbar-wrapper.center {
  justify-content: center;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right,
#app.static #mobile-navbar .limiter .navbar-wrapper.right {
  justify-content: flex-end;
}
#app.static #desktop-navbar .limiter .navbar-wrapper #logo,
#app.static #mobile-navbar .limiter .navbar-wrapper #logo {
  height: 38px;
}
#app.static #desktop-navbar .limiter .navbar-wrapper #logo img,
#app.static #mobile-navbar .limiter .navbar-wrapper #logo img {
  height: 100%;
}
#app.static #desktop-navbar .limiter .navbar-wrapper > li,
#app.static #mobile-navbar .limiter .navbar-wrapper > li {
  height: 100%;
  display: contents;
}
#app.static #desktop-navbar .limiter .navbar-wrapper > li > a,
#app.static #mobile-navbar .limiter .navbar-wrapper > li > a {
  font-size: var(--button-size);
  text-decoration: none;
  height: 70px;
  line-height: 70px;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--text-gray);
  padding: 0 20px;
  position: relative;
  transition: color 100ms, background 100ms;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#app.static #desktop-navbar .limiter .navbar-wrapper > li > a:hover,
#app.static #mobile-navbar .limiter .navbar-wrapper > li > a:hover {
  color: var(--primary);
  background: #ffffff90;
}
#app.static #desktop-navbar .limiter .navbar-wrapper > li > a.active,
#app.static #mobile-navbar .limiter .navbar-wrapper > li > a.active {
  color: var(--primary);
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right,
#app.static #mobile-navbar .limiter .navbar-wrapper.right {
  gap: 5px;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right .logout-button,
#app.static #mobile-navbar .limiter .navbar-wrapper.right .logout-button {
  color: var(--primary);
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right form,
#app.static #mobile-navbar .limiter .navbar-wrapper.right form {
  display: none;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li {
  display: block !important;
  position: relative;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button {
  height: 38px;
  line-height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
  border-radius: 7px;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button .text,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button .text {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding-top: 1px;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button .icon,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button .icon {
  font-family: "Material Icons Round";
  font-size: 22px;
  text-transform: none;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button .image,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button .image {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button.login,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button.login {
  background: var(--primary);
  color: white;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button.login:hover,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button.login:hover {
  filter: var(--elevation-4);
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button.account,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button.account {
  padding: 0 5px 0 15px;
  background: var(--bg-dark);
  color: var(--heading-gray);
  border-radius: 8px 20px 20px 8px;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li a.button.account .text,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li a.button.account .text {
  letter-spacing: 1px;
  text-transform: initial;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li ul,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li ul {
  position: absolute;
  top: 38px;
  right: 0;
  background: white;
  padding: 10px 0;
  border-radius: 8px;
  filter: var(--elevation-4);
  width: 100%;
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
  transition: all 100ms;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li ul li button, #app.static #desktop-navbar .limiter .navbar-wrapper.right li ul li a,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li ul li button,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li ul li a {
  border: none;
  background: transparent;
  color: var(--text-gray);
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 14px 20px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li ul li button:hover, #app.static #desktop-navbar .limiter .navbar-wrapper.right li ul li a:hover,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li ul li button:hover,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li ul li a:hover {
  color: var(--heading-gray);
  background: var(--bg-dark);
}
#app.static #desktop-navbar .limiter .navbar-wrapper.right li:hover ul,
#app.static #mobile-navbar .limiter .navbar-wrapper.right li:hover ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}
#app.static #mobile-navbar {
  display: none;
  height: 60px;
}
#app.static #mobile-navbar .limiter #toggle-menu-button {
  height: 50px;
  width: 50px;
  font-family: "Material Icons";
  font-size: 25px;
  display: grid;
  place-content: center;
  border-radius: 5px;
  color: var(--text-gray);
  background: transparent;
  border: none;
  padding: 0;
  position: relative;
  z-index: 10000;
}
#app.static #mobile-navbar .limiter #toggle-menu-button .svg-wrapper {
  height: 30px;
  width: 30px;
  color: inherit;
}
#app.static #mobile-navbar .limiter #toggle-menu-button .svg-wrapper .hamburger-path {
  stroke-dasharray: 14 100;
  transition: all 300ms;
  stroke: currentcolor;
}
#app.static #mobile-navbar.open #mobile-menu {
  pointer-events: all;
  transform: translateY(0px);
  box-shadow: 0 0 0 10000px #00000080;
}
#app.static #mobile-navbar.open #toggle-menu-button {
  color: var(--heading-gray);
}
#app.static #mobile-navbar.open #toggle-menu-button .svg-wrapper .hamburger-path {
  stroke-dashoffset: -23.8;
}
#app.static #mobile-navbar #mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  max-width: 400px;
  height: 100vh;
  z-index: 1000;
  background: white;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 250ms;
}
#app.static #mobile-navbar #mobile-menu ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}
#app.static #mobile-navbar #mobile-menu ul li a {
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none !important;
}
#app.static #mobile-navbar #mobile-menu ul li a.active {
  background: var(--primary-shade);
}
#app.static #mobile-navbar #mobile-menu ul li a.active .text {
  color: var(--primary);
}
#app.static #mobile-navbar #mobile-menu ul li a.active .icon {
  opacity: 1;
  color: var(--primary);
}
#app.static #mobile-navbar #mobile-menu ul li a .text {
  font-size: 13px;
  flex: 1;
  color: var(--heading-gray);
  text-align: left;
}
#app.static #mobile-navbar #mobile-menu ul li a .icon {
  height: 50px;
  width: 70px;
  font-family: "Material Icons";
  font-size: 23px;
  display: grid;
  place-content: center;
  font-weight: 300;
  color: var(--heading-gray);
  opacity: 0.6;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper {
  background: var(--bg-dark);
  display: block;
  padding-top: 60px;
  margin-bottom: 10px;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper.center {
  height: 130px;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper li {
  border: none !important;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper li:not(.profile-li) a {
  background: var(--primary);
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 80px;
  height: 40px;
  display: grid;
  max-width: 200px;
  place-content: center;
  margin: 10px auto 0;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper .profile-li {
  display: grid;
  grid-template-columns: 70px auto 100px;
  grid-template-rows: 30px 30px;
  grid-template-areas: "image name logout" "image link logout";
  padding-bottom: 10px;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper .profile-li img {
  grid-area: image;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 40px;
  width: 40px;
  align-self: center;
  justify-self: center;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper .profile-li span {
  grid-area: name;
  align-self: self-end;
  text-align: left;
  color: var(--heading-gray);
  line-height: 20px;
  font-weight: 500;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper .profile-li a {
  grid-area: link;
  align-self: self-start;
  text-transform: initial;
  color: var(--text-gray);
  letter-spacing: 0px;
  font-weight: 400;
  line-height: 20px;
}
#app.static #mobile-navbar #mobile-menu ul.bottom-wrapper .profile-li .logout-button {
  grid-area: logout;
  align-self: center;
  justify-self: center;
  color: var(--text-gray);
}
#app.static footer {
  background: var(--bg-dark);
  display: block;
}
#app.static footer .limiter {
  height: 100%;
  display: flex;
  align-items: center;
}
#app.static footer .limiter .project-by {
  margin: 10px 0;
  height: 60px;
  display: flex;
  align-items: center;
}
#app.static footer .limiter .project-by .text {
  font-size: 16px;
  color: #00000040;
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 2px;
}
#app.static footer .limiter .project-by a {
  height: 60px;
}
#app.static footer .limiter .project-by a img {
  height: 40px;
  margin: 10px 5px;
  opacity: 0.4;
  filter: saturate(0%);
  transition: all 100ms;
}
#app.static footer .limiter .project-by a:hover img {
  opacity: 1;
  filter: saturate(100%);
}
#app.static footer .limiter .spacer {
  flex: 1;
}
#app.static footer .limiter .spacer.horizontal-line {
  border-bottom: 2px solid #ccc;
}
#app.static footer .limiter .button-bar {
  display: flex;
  gap: 20px;
  align-items: center;
}
#app.static footer .limiter .button-bar .social-link {
  height: 40px;
  width: 40px;
  display: grid;
  place-content: center;
  font-size: 22px;
  font-family: "Material Icons";
  color: var(--text-gray);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  border-radius: 100%;
}
#app.static footer .limiter .button-bar .social-link:hover {
  color: var(--secondary);
  background: var(--secondary-shade);
}
#app.static footer .limiter nav {
  align-self: center;
  display: flex;
  align-items: top;
  gap: 20px;
  flex: 1;
  padding: 40px 0;
}
#app.static footer .limiter nav ul {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#app.static footer .limiter nav ul li a {
  font-family: var(--text-family);
  line-height: 150%;
  text-decoration: none;
  color: var(--text-gray);
}
#app.static footer .limiter nav ul li a:hover {
  color: var(--primary);
}

article[data-cs-00001] {
  display: block;
  width: 100%;
  font-size: 20px;
}
article[data-cs-00001] section {
  display: block;
  padding: 100px 0;
  line-height: 160%;
}
article[data-cs-00001] section .flex {
  display: flex;
  gap: 50px;
}
article[data-cs-00001] section .flex.centered {
  align-items: center;
}
article[data-cs-00001] section .flex .item {
  flex: 1;
}
article[data-cs-00001] section.section-1 {
  padding-top: 200px;
}
article[data-cs-00001] section.section-1 h1 {
  font-size: 75px;
  line-height: 120px;
  margin: 0;
}
article[data-cs-00001] section.section-1 p {
  margin: 30px 0;
}
article[data-cs-00001] section.section-2 h2 {
  margin: 40px 0 10px 0;
}
article[data-cs-00001] section.section-2 p {
  margin: 0;
}
article[data-cs-00001] section.section-2 .icon {
  height: 80px;
  width: 80px;
  display: grid;
  font-family: "Material Icons Round";
  place-content: center;
  font-size: 40px;
  border-radius: 10px;
}
article[data-cs-00001] section.section-2 .icon.primary {
  color: var(--primary);
  background: var(--primary-shine);
}
article[data-cs-00001] section.section-2 .icon.secondary {
  color: var(--secondary);
  background: var(--secondary-shine);
}
article[data-cs-00001] section.section-2 .icon.gray {
  color: var(--gray);
  background: var(--gray-shine);
}
article[data-cs-00001] section.section-3 h2, article[data-cs-00001] section.section-4 h2 {
  font-size: 60px;
  line-height: 80px;
}

article.dialog {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}
article.dialog .dialog-wrapper {
  width: 100%;
}
article.dialog .dialog-wrapper h1 {
  margin-top: 0;
}
article.dialog .dialog-wrapper .flex-wrapper {
  display: flex;
  justify-content: center;
}
article.dialog .dialog-wrapper .flex-wrapper .divider {
  border-left: var(--border);
  width: 0px;
}
article.dialog .dialog-wrapper .flex-wrapper .item {
  max-width: 450px;
  flex: 1;
  padding: 10px 40px;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button {
  height: 50px;
  border-radius: 7px;
  border: none;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 0;
  cursor: pointer;
  color: var(--heading-gray);
  background: #eee;
  text-decoration: none !important;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button.github {
  background: #24292e;
  color: white;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button.facebook {
  background: #1877F2;
  color: white;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button.google .image {
  padding: 12px;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button .image {
  height: 50px;
  width: 50px;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button .icon {
  height: 50px;
  width: 50px;
  display: grid;
  place-content: center;
  font-family: "Material Icons";
  font-size: 28px;
  color: inherit;
}
article.dialog .dialog-wrapper .flex-wrapper .item .platform-button .text {
  flex: 1;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  padding-right: 20px;
  font-family: var(--heading-font);
}
article.dialog .dialog-wrapper .flex-wrapper .item .form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
article.dialog .dialog-wrapper .flex-wrapper .item .form-wrapper .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
article.dialog .dialog-wrapper .flex-wrapper .item .form-wrapper .row.margin-top {
  margin-top: 10px;
}
article.dialog .dialog-wrapper .flex-wrapper .item .form-wrapper .row .spacer {
  flex: 1;
}

header[data-cs-00008] {
  height: 370px;
  padding-bottom: 30px;
  margin-bottom: 70px;
  display: block;
  background: var(--primary);
  color: white;
  display: grid !important;
  place-content: center;
  background-image: url("/images/static/assets/terrain_white.svg");
  background-size: cover;
  position: relative;
}
header[data-cs-00008] .author-image {
  height: 140px;
  width: 140px !important;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  bottom: 0px;
  left: 50%;
  border: 5px solid white;
  background: white;
  transform: translate(-50%, 50%);
}
header[data-cs-00008] h1, header[data-cs-00008] h2, header[data-cs-00008] h3, header[data-cs-00008] h4 {
  color: inherit;
}

article[data-cs-00002] {
  display: block;
  width: 100%;
}
article[data-cs-00002] .limiter.point-wrapper {
  display: flex !important;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 100px !important;
}
article[data-cs-00002] .limiter.point-wrapper h2, article[data-cs-00002] .limiter.point-wrapper h3 {
  display: block;
  width: 100%;
}
article[data-cs-00002] .limiter.point-wrapper .card-point {
  min-width: 400px;
  flex: 1;
  padding: 30px;
  text-align: center;
  background: white;
  color: var(--text-gray);
  border-radius: 10px;
  filter: var(--elevation-1);
  transition: all 100ms;
  background-image: url("/images/static/assets/terrain.svg");
  background-size: 800px;
  will-change: filter;
}
article[data-cs-00002] .limiter.point-wrapper .card-point:hover {
  filter: var(--elevation-4);
  color: var(--heading-gray);
}
article[data-cs-00002] .limiter.point-wrapper .card-point h4 {
  color: var(--primary);
  margin: 0;
}
article[data-cs-00002] .limiter.point-wrapper .card-point p {
  font-size: var(--text-size);
  color: inherit;
}

#silentbox-gallery {
  z-index: 10000;
  position: relative;
}
#silentbox-gallery a > img {
  height: 180px;
  border-radius: 5px;
  filter: var(--elevation-4);
  transition: all 100ms;
  filter: grayscale(100%);
}
#silentbox-gallery a > img:hover {
  transform: scale(1.05);
  filter: grayscale(0%);
}

div[data-cs-02001] {
  background: var(--bg-dark);
  padding: 40px 0 100px;
  background-image: url("/images/static/assets/terrain.svg");
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 80px), 50% 100%, 0% calc(100% - 80px));
          clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 80px), 50% 100%, 0% calc(100% - 80px));
}

.limiter.pricing[data-cs-00004] {
  display: flex !important;
  gap: 50px;
  padding: 100px 0 !important;
}
.limiter.pricing[data-cs-00004] .price-plan {
  flex: 1;
  border-radius: 10px;
  box-shadow: 0 12px 20px #00003020;
}
.limiter.pricing[data-cs-00004] .price-plan .header {
  width: 100%;
  border-radius: 10px 10px 0 0;
  background: var(--bg-dark);
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.limiter.pricing[data-cs-00004] .price-plan .header h2, .limiter.pricing[data-cs-00004] .price-plan .header h4 {
  margin: 0;
  color: var(--heading-gray);
}
.limiter.pricing[data-cs-00004] .price-plan .header h2, .limiter.pricing[data-cs-00004] .price-plan .header h4, .limiter.pricing[data-cs-00004] .price-plan .header span {
  display: inline-block;
  width: 100%;
  line-height: 100%;
}
.limiter.pricing[data-cs-00004] .price-plan .header h4 {
  margin-top: 25px;
}
.limiter.pricing[data-cs-00004] .price-plan .header span {
  margin-top: 6px;
  font-size: var(--text-size);
  color: var(--text-gray);
}
.limiter.pricing[data-cs-00004] .price-plan .features {
  min-height: 200px;
  display: block;
}
.limiter.pricing[data-cs-00004] .price-plan .feature-point {
  height: 40px;
  display: flex;
  align-items: center;
}
.limiter.pricing[data-cs-00004] .price-plan .feature-point .icon {
  width: 60px;
  text-align: center;
  font-size: 20px;
  font-family: "Material Icons";
  color: var(--text-gray);
}
.limiter.pricing[data-cs-00004] .price-plan .feature-point .text {
  font-size: var(--text-size);
  color: var(--heading-gray);
}
.limiter.pricing[data-cs-00004] .price-plan .divider {
  width: 100%;
  display: block;
  margin: 10px 0;
  border-bottom: var(--border);
}
.limiter.pricing[data-cs-00004] .price-plan .button {
  height: 42px;
  width: calc(100% - 30px);
  margin: 15px;
  display: grid;
  place-content: center;
  border: 1px solid var(--primary);
  border-radius: 5px;
  font-size: var(--button-size);
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary);
  text-transform: uppercase;
  text-decoration: none !important;
  transition: all 100ms;
}
.limiter.pricing[data-cs-00004] .price-plan .button:hover {
  background: var(--primary);
  color: white;
}
.limiter.pricing[data-cs-00004] .price-plan.featured {
  background: var(--primary);
  box-shadow: 0 20px 40px #00003060;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .header {
  background: #ffffff15;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .header h2, .limiter.pricing[data-cs-00004] .price-plan.featured .header h4 {
  color: white;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .header span {
  color: #ffffffaa;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .feature-point .icon {
  color: #ffffffaa;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .feature-point .text {
  color: white;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .divider {
  border-color: #ffffff60;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .button {
  color: var(--primary);
  background: white;
  border-color: transparent;
}
.limiter.pricing[data-cs-00004] .price-plan.featured .button:hover {
  background: #ffffffdd;
}

article[data-cs-01001],
article[data-cs-01002] {
  padding: 70px 0;
  display: block;
  width: 100%;
}
article[data-cs-01001] .limiter,
article[data-cs-01002] .limiter {
  display: flex !important;
  gap: 30px;
}
article[data-cs-01001] .limiter .article-preview-image-wrapper,
article[data-cs-01002] .limiter .article-preview-image-wrapper {
  flex: 1;
}
article[data-cs-01001] .limiter .article-preview-image-wrapper .article-preview-image,
article[data-cs-01002] .limiter .article-preview-image-wrapper .article-preview-image {
  width: 100%;
  border-radius: 5px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
article[data-cs-01001] .limiter .article-preview-wrapper,
article[data-cs-01002] .limiter .article-preview-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-headline,
article[data-cs-01002] .limiter .article-preview-wrapper .article-headline {
  margin: 0;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .text,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .text {
  font-size: 14px;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .divider,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .divider {
  opacity: 0.5;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .author,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .author {
  display: flex;
  align-items: center;
  gap: 15px;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .author .author-image,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .author .author-image {
  height: 38px;
  width: 38px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .author-link,
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .category-link,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .author-link,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .category-link {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-gray);
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .author-link:hover,
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .category-link:hover,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .author-link:hover,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .category-link:hover {
  color: var(--primary);
  text-decoration: none;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-info .category-link,
article[data-cs-01002] .limiter .article-preview-wrapper .article-info .category-link {
  text-transform: uppercase;
  font-size: 14px;
}
article[data-cs-01001] .limiter .article-preview-wrapper .article-preview-text,
article[data-cs-01002] .limiter .article-preview-wrapper .article-preview-text {
  font-size: var(--text-size);
  margin: 0 0 15px;
}
article[data-cs-01001] .limiter .article-preview-wrapper .read-more-button,
article[data-cs-01002] .limiter .article-preview-wrapper .read-more-button {
  height: 40px;
  line-height: 30px;
  font-size: 14px;
  padding: 5px 20px;
  text-align: center;
  letter-spacing: 1.5px;
  font-family: var(--text-font);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: background 100ms, color 100ms;
  position: relative;
  background: var(--primary);
  color: white;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  white-space: nowrap;
}
article[data-cs-01001] .limiter .article-preview-wrapper .read-more-button:hover,
article[data-cs-01002] .limiter .article-preview-wrapper .read-more-button:hover {
  box-shadow: 0 5px 7px #00000020;
}

article[data-cs-01002] .limiter .article-preview-wrapper {
  flex: 2;
}

article[data-cs-01101] {
  padding: 20px 0 100px;
}
article[data-cs-01101] .limiter {
  display: flex !important;
}
article[data-cs-01101] .limiter .info-side {
  width: 250px;
}
article[data-cs-01101] .limiter .annotations {
  width: 250px;
}
article[data-cs-01101] .limiter .article-limiter {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
article[data-cs-01101] .limiter .article-limiter .article-preview-image {
  width: 100%;
  border-radius: 5px;
}
article[data-cs-01101] .limiter .article-limiter .article-info {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px;
}
article[data-cs-01101] .limiter .article-limiter .article-info .text {
  font-size: 14px;
}
article[data-cs-01101] .limiter .article-limiter .article-info .divider {
  opacity: 0.5;
}
article[data-cs-01101] .limiter .article-limiter .article-info .author {
  display: flex;
  align-items: center;
  gap: 15px;
}
article[data-cs-01101] .limiter .article-limiter .article-info .author .author-image {
  height: 38px;
  width: 38px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
article[data-cs-01101] .limiter .article-limiter .article-info .author-link,
article[data-cs-01101] .limiter .article-limiter .article-info .category-link {
  font-size: 17px;
  font-weight: 500;
  color: var(--text-gray);
}
article[data-cs-01101] .limiter .article-limiter .article-info .author-link:hover,
article[data-cs-01101] .limiter .article-limiter .article-info .category-link:hover {
  color: var(--primary);
  text-decoration: none;
}
article[data-cs-01101] .limiter .article-limiter .article-info .category-link {
  text-transform: uppercase;
  font-size: 14px;
}

@media (max-width: 900px) {
  #app.static {
    padding-top: 60px;
  }
  #app.static #desktop-navbar {
    display: none;
  }
  #app.static #mobile-navbar {
    display: block;
  }
  #app.static footer {
    height: auto;
    padding: 10px 0;
  }
  #app.static footer .limiter {
    flex-direction: column;
    justify-content: center;
  }
  #app.static footer .limiter nav {
    margin-top: 10px;
  }
  #app.static article[data-cs-00001] section {
    padding: 70px 0;
    max-width: 560px;
    margin: 0 auto;
  }
  #app.static article[data-cs-00001] section .flex {
    flex-direction: column;
  }
  #app.static article[data-cs-00001] section.section-1 h1 {
    font-size: 60px;
    line-height: 100px;
  }
  #app.static article[data-cs-00001] section.section-2 h2 {
    margin: 30px 0 10px 0;
  }
  #app.static article[data-cs-00001] section.section-2 .flex {
    gap: 70px;
  }
  #app.static article[data-cs-00001] section.section-2 .icon {
    height: 70px;
    width: 70px;
    font-size: 35px;
  }
  #app.static article[data-cs-00001] section.section-3 .flex, #app.static article[data-cs-00001] section.section-4 .flex {
    gap: 0;
  }
  #app.static article[data-cs-00001] section.section-3 h2, #app.static article[data-cs-00001] section.section-4 h2 {
    font-size: 45px;
    line-height: 70px;
  }
  #app.static div[data-cs-02001] {
    padding: 10px 0 60px;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30px), 50% 100%, 0% calc(100% - 30px));
            clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 30px), 50% 100%, 0% calc(100% - 30px));
  }
  #app.static article[data-cs-00007] {
    padding: 70px 0 0;
  }
  #app.static article[data-cs-00007] .gray-polygon {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-clip-path: polygon(0% 0%, 100% 4%, 100% 96%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 4%, 100% 96%, 0% 100%);
  }
  #app.static article[data-cs-01001] .limiter,
#app.static article[data-cs-01002] .limiter {
    flex-direction: column;
    gap: 10px;
  }
  #app.static article[data-cs-00002] .limiter.point-wrapper {
    padding-bottom: 60px !important;
    gap: 20px;
  }
  #app.static article[data-cs-00002] .limiter.point-wrapper .card-point {
    min-width: 200px;
  }
  #app.static article[data-cs-01101] {
    padding: 0 0 70px;
  }
  #app.static article[data-cs-01101] .limiter {
    display: flex !important;
  }
  #app.static article[data-cs-01101] .limiter .info-side,
#app.static article[data-cs-01101] .limiter .annotations {
    width: 0px;
  }
  #app.static .limiter.pricing[data-cs-00004] {
    flex-direction: column;
    padding: 60px 15px !important;
  }
  #app.static .limiter.pricing[data-cs-00004] .price-plan {
    box-shadow: 0 6px 10px #00003020;
  }
}
@media (max-width: 500px) {
  #app.static footer .limiter nav ul {
    gap: 20px;
  }
  #app.static article[data-cs-00001] section.section-1 h1 {
    font-size: 50px;
    line-height: 80px;
  }
  #app.static article[data-cs-00001] section.section-3 h2, #app.static article[data-cs-00001] section.section-4 h2 {
    font-size: 38px;
    line-height: 55px;
  }
}
:root {
  --border-color: #ccc;
  --border: 1px solid var(--border-color);
  --input-border: 1px solid #ccc;
  --focused-input-border: 1px solid #666;
  --elevation-1: drop-shadow(0 1px 1px #00000037);
  --elevation-2: drop-shadow(0 2px 1.5px #00000030);
  --elevation-3: drop-shadow(0 3px 2.5px #00000030);
  --elevation-4: drop-shadow(0 4px 6px #00000020);
  --text-font: "Roboto", sans-serif;
  --heading-font: "Poppins", sans-serif;
  --text-size: 15px;
  --button-size: 14px;
  --bg: #ffffff;
  --bg-dark: #f5f8f8;
  --heading-gray: #2F3542;
  --text-gray: #666F79;
  --text-gray-shade: #666F7910;
  --text-gray-shine: #666F7930;
  --primary: #4834D4;
  --primary-focused: #644cff;
  --primary-shade: #4834D418;
  --primary-shine: #4b36d633;
  --secondary: #29abab;
  --secondary-shade: #36e8e819;
  --secondary-shine: #36e8e833;
  --gray: #2F3542;
  --gray-shine: #2F354233;
  --disabled-bg: #eaecec;
  --disabled-color: #878f97;
  --disabled-border-color: #a9afb6;
  --mild-success: #29abab;
  --success: #2ecc71;
  --success-shade: #2ecc7115;
  --success-shine: #2ecc7140;
  --warning: #ffc400;
  --warning-shade: #ffc40020;
  --warning-shine: #ffc40040;
  --error: #ff4757;
  --error-shade: #ff475710;
  --error-shine: #ff475740;
}

.clearfix {
  overflow: auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

* {
  box-sizing: border-box;
  display: inline-block;
  outline: none;
}

*:focus {
  outline: none;
}

i, b {
  display: inline;
}

form {
  display: contents;
}

p,
.block {
  display: block;
}

p {
  margin: 15px 0;
}

ol, ul {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  line-height: 150%;
  color: var(--heading-gray);
  font-family: var(--heading-font);
}

blockquote, ul, ol, li, header, main {
  display: block;
}

h1 {
  font-size: 45px;
}

h2 {
  font-weight: 600;
  font-size: 35px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: var(--text-size);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  color: var(--primary);
  -webkit-text-decoration: var(--primary) underline 1.8px;
          text-decoration: var(--primary) underline 1.8px;
  -webkit-text-decoration-skip: none;
          text-decoration-skip: none;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

fieldset {
  font-size: var(--text-size);
  color: var(--text-gray);
  border: var(--border);
  border-radius: 5px;
  display: block;
  margin: 0;
}

title, head, script, style {
  display: none;
}

html, body {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: var(--text-font);
  background: var(--bg);
  color: var(--text-gray);
  line-height: 150%;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

#app {
  width: 100%;
  height: 100%;
}

#app .limiter {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
  text-align: left;
  display: block;
  padding: 0 25px;
}

.sheet {
  display: block;
  background: var(--bg);
  filter: var(--elevation-4);
  width: 100%;
  border-radius: 7px;
}

.sheet.padding {
  padding: 15px;
}

.grid-centered {
  display: grid;
  place-content: center;
}

.ProseMirror {
  display: block !important;
}

.tooltip {
  display: block !important;
  z-index: 10000;
  filter: var(--elevation-1);
}
.tooltip .tooltip-inner {
  background: var(--heading-gray);
  color: var(--bg);
  font-family: var(--text-font);
  border-radius: 5px;
  padding: 5px 10px 4px;
  text-align: left;
  text-shadow: none;
  font-size: var(--text-size) !important;
}
.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: var(--heading-gray);
  z-index: 1;
}
.tooltip[x-placement^=top] {
  margin-bottom: 5px;
}
.tooltip[x-placement^=top] .tooltip-arrow {
  border-width: 5px 5px 1px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^=bottom] {
  margin-top: 5px;
}
.tooltip[x-placement^=bottom] .tooltip-arrow {
  border-width: 1px 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.tooltip[x-placement^=right] {
  margin-left: 5px;
}
.tooltip[x-placement^=right] .tooltip-arrow {
  border-width: 5px 5px 5px 1px;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip[x-placement^=left] {
  margin-right: 5px;
}
.tooltip[x-placement^=left] .tooltip-arrow {
  border-width: 5px 1px 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
.tooltip.popover .popover-inner {
  background: #1e272e;
  padding: 15px;
  border-radius: 5px;
  line-height: 140%;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
}
.tooltip.popover .popover-inner * {
  font-size: var(--text-size) !important;
}
.tooltip.popover .popover-arrow {
  border-color: #1e272e;
}
.tooltip.popover.text-tooltip {
  max-width: 300px;
}
.tooltip[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s, visibility 0.15s;
}
.tooltip[aria-hidden=false] {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.15s;
}

@media (max-width: 900px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 17px;
  }

  h6 {
    font-size: var(--text-size);
  }
}
